<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Bernard DURAND</TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="DE LOURENCO">
	<META NAME="CREATED" CONTENT="20150423;151000000000000">
	<META NAME="CHANGEDBY" CONTENT="bruno de-lourenco">
	<META NAME="CHANGED" CONTENT="20151215;141600000000000">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-right: 0.59in; margin-top: 0.59in; margin-bottom: 0.49in }
		P { margin-bottom: 0in; direction: ltr; color: #000000; text-align: justify; widows: 2; orphans: 2 }
		P.western { font-family: "Times New Roman", serif; font-size: 10pt; so-language: fr-FR }
		P.cjk { font-family: "Times New Roman", serif; font-size: 10pt }
		P.ctl { font-family: "Times New Roman", serif; font-size: 10pt; so-language: ar-SA }
		H3 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		H3.western { font-family: "Arial", sans-serif; font-size: 12pt; so-language: fr-FR; font-weight: normal }
		H3.cjk { font-family: "Times New Roman", serif; font-size: 12pt; font-weight: normal }
		H3.ctl { font-family: "Arial", sans-serif; font-size: 12pt; so-language: ar-SA; font-weight: normal }
		H6 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: right; widows: 2; orphans: 2 }
		H6.western { font-family: "Arial", sans-serif; font-size: 12pt; so-language: fr-FR; font-weight: normal }
		H6.cjk { font-family: "Times New Roman", serif; font-size: 12pt; font-weight: normal }
		H6.ctl { font-family: "Arial", sans-serif; font-size: 12pt; so-language: ar-SA; font-weight: normal }
		A:link { color: #0000ff }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<IMG SRC="i_5c3d0798ebbd040f_html_bd83ecd6.png" NAME="Image 2" ALIGN=LEFT HSPACE=12 WIDTH=298 HEIGHT=106 BORDER=0><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=LEFT STYLE="margin-left: -0.98in">
               <FONT FACE="Impact, sans-serif"><FONT SIZE=5 STYLE="font-size: 20pt">					</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<FONT FACE="Impact, sans-serif"><FONT SIZE=5 STYLE="font-size: 20pt">(LOGO
ET PHOTO PARTENAIRE)</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in">
<IMG SRC="i_5c3d0798ebbd040f_html_5f0f4b2.jpg" NAME="graphics1" ALIGN=BOTTOM WIDTH=799 HEIGHT=310 BORDER=0></P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: -0.98in; page-break-before: always">
<FONT COLOR="#8db3e2"><FONT FACE="Arial, sans-serif"><FONT SIZE=5 STYLE="font-size: 20pt"><B>Charte
de Partenariat</B></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.49in">
<FONT COLOR="#8db3e2"><FONT FACE="Arial, sans-serif"><FONT SIZE=5 STYLE="font-size: 20pt"><B>Polytech
Montpellier / </B></FONT></FONT></FONT><FONT COLOR="#f79646"><FONT FACE="Arial, sans-serif"><FONT SIZE=5 STYLE="font-size: 20pt"><B><SPAN STYLE="background: #ffff00">RB9</SPAN></B></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>ENTRE</B></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<H3 LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><B><SPAN STYLE="background: #ffff00">RB9,</SPAN></B><SPAN STYLE="background: #ffff00">
RB10</SPAN> située<SPAN STYLE="background: #ffff00"> RB11</SPAN>, 
n° SIRET <SPAN STYLE="background: #ffff00">RB12</SPAN>, représentée
par son <SPAN STYLE="background: #ffff00">RB17</SPAN>, <SPAN STYLE="background: #ffff00">RB14
RB16 RB15</SPAN></H3>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=RIGHT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>ci-après
dénommée la «&nbsp;Société&nbsp;»</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<H6 LANG="fr-FR" CLASS="western"><B>D’UNE PART</B></H6>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>ET</B></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>POLYTECH
MONTPELLIER,</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>
école polytechnique universitaire de l’UNIVERSITE DE MONTPELLIER -
Etablissement Public à caractère Scientifique, Culturel et
Professionnel, dont le siège est situé 163 rue Auguste Broussonnet
34090 MONTPELLIER, n° SIRET 130 020 548 00017, représentée par son
Président, Monsieur Philippe AUGÉ, ayant donné délégation à
Monsieur Serge PRAVOSSOUDOVITCH, Directeur de POLYTECH MONTPELLIER,
pour signer la présente convention.</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=RIGHT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>ci-après
dénommée «&nbsp;Polytech Montpellier&nbsp;»</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<H6 LANG="fr-FR" CLASS="western"><B>D’AUTRE PART</B></H6>
<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Polytech
Montpellier et la Société sont ci-après dénommés
individuellement la «&nbsp;Partie&nbsp;» et collectivement les
«&nbsp;Parties&nbsp;».</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="fr-FR" STYLE="page-break-after: avoid"><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><U><B>PREAMBULE</B></U></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Polytech
Montpellier a pour mission de former des ingénieurs dans les
domaines de compétences suivants&nbsp;:</FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<DIV ID="Section1" DIR="LTR" GUTTER=0 STYLE="column-count: 2">
	<UL>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Informatique et Gestion</FONT></FONT></P>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Matériaux</FONT></FONT></P>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Mécanique </FONT></FONT>
		</P>
	</UL>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-top: 0.06in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>-	Option Mécanique et
	Interactions (formation initiale)</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-top: 0.06in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>-	Option Mécanique
	Structures Industrielles (formation par apprentissage)</FONT></FONT></P>
	<UL>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Electronique et
		Informatique Industrielle</FONT></FONT></P>
	</UL>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-top: 0.06in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>- Option
	Microélectronique et Automatique (formation initiale)</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-top: 0.06in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>- Option Systèmes
	Embarqués (formation par apprentissage)</FONT></FONT></P>
	<UL>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Eau</FONT></FONT></P>
	</UL>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-top: 0.06in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>- Option Sciences et
	Technologies de l’Eau (formation initiale)</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-top: 0.06in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>- Option Eau et Génie
	Civil (formation par apprentissage)</FONT></FONT></P>
	<UL>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Génie Biologique et
		Agroalimentaire,</FONT></FONT></P>
		<LI><P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.06in">
		<FONT FACE="Arial, sans-serif"><FONT SIZE=3>Energétique : Bâtiment
		et Procédés, Energies Renouvelables</FONT></FONT></P>
	</UL>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
</DIV>
<DIV ID="Section2" DIR="LTR">
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Compte
	tenu de l’évolution rapide des technologies et des métiers de
	l’industrie, la formation d’ingénieurs doit trouver un
	équilibre entre les connaissances scientifiques et les compétences
	générales requises dans le monde industriel. Cet équilibre passe
	par des relations étroites entre l’école et le monde de
	l’entreprise.  </FONT></FONT>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><U><B>ARTICLE
	1</B></U></FONT></FONT></FONT><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>
	– OBJET DE LA CONVENTION&nbsp;:</B></FONT></FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>L’objet
	de cette convention est de promouvoir les relations entre la Société
	et Polytech Montpellier, à travers d’actions de partenariat,
	notamment dans les domaines de la formation, et du développement de
	projets communs afin en rapprochant les étudiants de Polytech et la
	Société.</FONT></FONT></P>
	<P LANG="fr-FR"><BR>
	</P>
	<P LANG="fr-FR"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Les
	actions spécifiques menées pourront faire l’objet d’une
	convention qui définira les objectifs, les modalités et les
	engagements des parties. </FONT></FONT>
	</P>
	<P LANG="fr-FR"><BR>
	</P>
	<P LANG="fr-FR"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><FONT COLOR="#548dd4"><U><B>ARTICLE
	2</B></U></FONT><FONT COLOR="#548dd4"><B> – MODALITES DU
	PARTENARIAT</B></FONT></FONT></FONT></P>
	<P LANG="fr-FR"><BR>
	</P>
	<P LANG="fr-FR"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Le
	partenariat entre la Société et Polytech Montpellier se traduira
	par le développement de relations privilégiées concernant
	notamment&nbsp;:</FONT></FONT></P>
	<P LANG="fr-FR"><BR>
	</P>
	<P LANG="fr-FR"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><I><U>Pour
	Polytech Montpellier&nbsp;:</U></I></FONT></FONT></P>
	<P LANG="fr-FR"><BR>
	</P>
	<UL>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
		réalisation de projets techniques et/ou d’études scientifiques
		au sein de Polytech Montpellier&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
		diffusion et promotion des offres de stages et d’emplois auprès
		des étudiants et du Réseau des Anciens de Polytech Montpellier&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
		formation permanente (VAE, VAP et IDPE, Contrat de
		Professionnalisation)&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>L’affectation
		à Polytech Montpellier de taxe d’apprentissage due par la
		Société&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>L’intervention
		de spécialistes de l’entreprise dans le cadre de la formation
		d’étudiants de Polytech Montpellier.</FONT></FONT></P>
	</UL>
	<P LANG="fr-FR" STYLE="margin-top: 0.06in"><BR>
	</P>
	<P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><I><U>Pour
	la Société&nbsp;:</U></I></FONT></FONT></P>
	<P LANG="fr-FR" ALIGN=LEFT STYLE="margin-left: 0.49in"><BR>
	</P>
	<UL>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Possibilité
		d’utilisation des salles de l’école en fonction de leur
		disponibilité&nbsp;;</FONT></FONT></P>
	</UL>
	<UL>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>L’accueil
		de stagiaires de Polytech Montpellier&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
		proposition de projets d’études pour les étudiants de Polytech
		Montpellier&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
		participation aux conseils de perfectionnement et aux procédures
		de recrutement des étudiants de Polytech Montpellier&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>L’embauche
		de diplômés (et/ou apprentis) de Polytech Montpellier&nbsp;;</FONT></FONT></P>
		<LI><P LANG="fr-FR" STYLE="margin-top: 0.06in"><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
		participation à des Journées Emploi, forums Entreprises.</FONT></FONT></P>
	</UL>
	<P LANG="fr-FR"><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Ce
	partenariat est ouvert à toute autre action de valorisation, de
	diffusion (communication conjointe) et de promotion, dans les
	limites des compétences de la Société et de </FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Polytech
	Montpellier.</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Les
	Parties pourront utiliser les logos des deux entités pour
	communiquer au sujet du présent partenariat, sous réserve d’un
	accord préalable concernant le contexte d’utilisation.</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><U><B>ARTICLE
	3</B></U></FONT></FONT></FONT><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>
	– DUREE&nbsp;:</B></FONT></FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>La
	présente charte est conclue pour une durée d’un an, renouvelée
	par tacite reconduction, sauf dénonciation par l’une ou l’autre
	partie.</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><U><B>ARTICLE
	4</B></U></FONT></FONT></FONT><FONT COLOR="#548dd4"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>
	– REGLEMENT DES DIFFERENDS&nbsp;:</B></FONT></FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Tout
	différend lié à l’interprétation et/ou à l’exécution du
	contrat doit, en premier lieu, et dans toute la mesure du possible,
	être réglé aux moyens de négociations amiables entre les
	Parties.</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>A
	défaut d’un accord amiable entre les Parties dans un délai d’un
	mois à compter de la date de première présentation de la lettre
	recommandée avec avis de réception notifiant la difficulté en
	cause, tout différend est soumis aux tribunaux compétents. Le
	présent contrat est régi par le droit français.</FONT></FONT></P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Fait
	à Montpellier, le </FONT></FONT>
	</P>
	<P LANG="fr-FR" ALIGN=LEFT STYLE="margin-bottom: 0.08in; line-height: 200%">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=3>En deux exemplaires
	originaux.</FONT></FONT></P>
	<P LANG="fr-FR" ALIGN=LEFT STYLE="margin-bottom: 0.08in; line-height: 200%">
	<BR><BR>
	</P>
	<TABLE WIDTH=621 CELLPADDING=7 CELLSPACING=0>
		<COL WIDTH=258>
		<COL WIDTH=118>
		<COL WIDTH=203>
		<TR VALIGN=TOP>
			<TD WIDTH=258 HEIGHT=73 STYLE="border: none; padding: 0in">
				<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Pour
				Polytech Montpellier</FONT></FONT></P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
			</TD>
			<TD WIDTH=118 STYLE="border: none; padding: 0in">
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
			</TD>
			<TD WIDTH=203 STYLE="border: none; padding: 0in">
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Pour
				la Société</FONT></FONT><FONT COLOR="#f79646"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B>
				</B></FONT></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>
				</FONT></FONT>
				</P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=258 STYLE="border: none; padding: 0in">
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Serge
				PRAVOSSOUDOVITCH</FONT></FONT></P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><FONT FACE="Arial, sans-serif"><FONT SIZE=3>Le
				Directeur</FONT></FONT></P>
			</TD>
			<TD WIDTH=118 STYLE="border: none; padding: 0in">
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><BR>
				</P>
			</TD>
			<TD WIDTH=203 STYLE="border: none; padding: 0in">
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><FONT COLOR="#f79646"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B><SPAN STYLE="background: #ffff00">RB16
				RB15</SPAN></B></FONT></FONT></FONT></P>
				<P LANG="fr-FR" CLASS="western" ALIGN=LEFT><FONT COLOR="#f79646"><FONT FACE="Arial, sans-serif"><FONT SIZE=3><B><SPAN STYLE="background: #ffff00">RB17</SPAN></B></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</TABLE>
	<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
</DIV>
<DIV TYPE=FOOTER>
	<P LANG="en-US" ALIGN=RIGHT STYLE="margin-top: 0.06in"><IMG SRC="i_5c3d0798ebbd040f_html_4df644bf.gif" NAME="Image 4" ALIGN=LEFT HSPACE=12 WIDTH=57 HEIGHT=57 BORDER=0><IMG SRC="i_5c3d0798ebbd040f_html_e5a30a00.png" NAME="Image 1" ALIGN=LEFT HSPACE=12 WIDTH=486 HEIGHT=73 BORDER=0><BR>
	</P>
	<P LANG="fr-FR" ALIGN=RIGHT><BR>
	</P>
	<P LANG="fr-FR" ALIGN=RIGHT><BR>
	</P>
	<P LANG="fr-FR" ALIGN=LEFT><BR>
	</P>
	<P LANG="fr-FR" ALIGN=LEFT><BR>
	</P>
</DIV>
</BODY>
</HTML>