{% extends '::layout.html.twig' %}

{% block body -%}
    <h2>Ajouter un local à liste</h2>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('local') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
