{% extends '::layout.html.twig' %}

{% block body -%}
        <div class="container">
            <div class="row">
                <h3>Choisissez un modèle de convention.</h3><br>
            </div>
            <div class="row">
                {% for entity in entities%}
                <div class="col-md-3 imagecarre2">
                    <a  data-placement="top" data-toggle="tooltip" title="{{entity.description}}" role="button" href="{{ path('demande_choosesubype',{'id': entity.id }) }}">{{entity.nom}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
